body { 
    max-width: 600px; 
    margin: 1em auto;
    background-color: #f7f2e6;
    font-family: Georgia, Times, serif;
    font-size: 18px }
.speechblock { margin-bottom: 1em }
.sentence:hover { background-color: yellow }
hr.segment { 
    height: 27px;
    border: 0;
    background-color: #c0c0c0 }
hr.segment::after {
    background: red;
    color: #f7f2e6;
    font-weight: bold;
    content: "click to remove";
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
}
hr.segment:hover { background-color: red }
hr.segment:hover::after { visibility: visible }

.donebutton {
    text-align: center;
    background-color: #d08080;
}

.marker {
    background-color: #000000;
    width: 5px;
    position: absolute;
}

